* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #9c271e -50%, #3f2505 70%, #457f76 150%);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  position: relative;
  margin-left: -100;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  /* width: 30vw;
  height: 12vw; */
  background: url(/images/cave.png) no-repeat no-repeat;
  transform: scale(2.7);
  image-rendering: auto;
}
.player-name-t {
  color: white;
}
.player-info {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}
.game-start {
  position: absolute;
  top: 80;
  left: 0;
  padding: 1em;
}
.notification-show {
  position: fixed;
  right: 2%;
  top: 10%;
  transition: 500ms;
}
.notification-hide {
  position: fixed;
  right: -50%;
  top: 10%;
  transition: 500ms;
}
.notification-box {
  color: white;
  font-weight: bold;
  font-size: larger;
  background-color: #222034;
  padding: 20;
  padding-right: 100;
  margin-right: -50;
  border: 0;
  border-left: 20px solid #c53916;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.2em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}

input[type="text"] :focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
.action_img {
  width: 10;
  height: 10;
  filter: hue-rotate(30);
}
.listitem_title {
  font-size: 7px;
}
button:active {
  position: relative;
  top: 1px;
}
.music_btn {
  width: 80;
  height: 80;
  margin-top: -40;
  margin-left: 50;
  cursor: pointer;
}
.game_btns {
  display: flex;
  width: inherit;
  position: absolute;
  top: 250;
}
button.game_btn {
  color: aliceblue;
  height: 30;
  width: 140;
  margin-left: 6;
  margin-right: 6;
  background: #333;
  border-bottom: 1px solid #686666;
  opacity: 0.8;
  font-size: small;
}
.confirm_btn {
  color: aliceblue;
  font-size: small;
  height: 20;
  width: 60;
  background: #1f8541;
  border-bottom: 1px solid #33c87e;
  opacity: 0.8;
}
.undo_btn {
  color: aliceblue;
  font-size: small;
  height: 20;
  width: 60;
  background: #801c1c;
  border-bottom: 1px solid #ac4e4e;
  opacity: 0.8;
  margin-right: 5;
}
.dice_btn {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}
.action_btns {
  position: absolute;
  top: 215;
  left: 185;
  gap: 0.5em;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.grid-cell2 {
  position: absolute;
  top: 2;
  left: 8;
  width: 28px;
  height: 30px;
  margin-top: 6px;
  margin-left: 1;
}
.grid-cell-profile {
  position: absolute;
  top: 2;
  left: 8;
  width: 37px;
  height: 37px;
  margin-top: 2;
  margin-left: -3;
}
.grid-cell-dragon {
  margin-top: -20;
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: -20;
  cursor: pointer;
}
.Character {
  transition: transform 0.4s;
}
.Dragon {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
/* .Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
} */
.arrow-container {
  width: 10px;
  height: 10px;
  z-index: 20 !important;
}

.instruction-text {
  color: white;
  font-size: xx-large;
}

.instruction-arrow-container {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  z-index: 20 !important;
}
.Select-arrow-dragon {
  display: block;
  transform: scale(0.15);
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
  background: url(/images/crosshair.png) no-repeat no-repeat;
  z-index: 30 !important;
  opacity: 1;
  pointer-events: none;
}
.Select-arrow {
  display: block;
  transform: scale(4);
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
  z-index: 30 !important;
  opacity: 1;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
}
.img_player {
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 20 !important;
}

.img_profile {
  width: 73px;
  height: 73px;
  margin-left: -14;
  margin-top: 1;
}

/* PROFILE RINGS */
.profile-ring-blue {
  border: 5px solid cyan;
  border-radius: 50px;
}
.profile-ring-red {
  border: 5px solid red;
  border-radius: 50px;
}
.profile-ring-orange {
  border: 5px solid rgb(254, 154, 31);
  border-radius: 50px;
}
.profile-ring-yellow {
  border: 5px solid rgb(251, 231, 15);
  border-radius: 50px;
}
.profile-ring-green {
  border: 5px solid rgb(44, 215, 28);
  border-radius: 50px;
}
.profile-ring-purple {
  border: 5px solid rgb(172, 89, 210);
  border-radius: 50px;
}
.profile-ring-pink {
  border: 5px solid pink;
  border-radius: 50px;
}
.profile-ring-gray {
  border: 5px solid rgb(120, 120, 120);
  border-radius: 50px;
}

.profile-background {
  background-color: white;
  border-radius: 50px;
}
.profile-name {
  position: absolute;
  top: 5;
  left: 50;
  font-weight: bold;
}
.role-text {
  position: absolute;
  top: 5;
  left: 390;
  font-weight: bold;
}
.turn-text {
  position: absolute;
  top: 5;
  left: 200;
  font-weight: bold;
  background-color: #474747a7;
  padding: 4;
  border-radius: 8px;
}
.img_dragon {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="blue"] .Character_sprite {
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(0deg);
}
.Character[data-color="blue"] .Character_shadow {
  background-color: cyan;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
  filter: hue-rotate(0deg);
}

.Character[data-color="red"] .Character_sprite {
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(180deg);
}
.Character[data-color="red"] .Character_shadow {
  background-color: red;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
}

.Character[data-color="orange"] .Character_sprite {
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(200deg);
}
.Character[data-color="orange"] .Character_shadow {
  background-color: cyan;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
  filter: hue-rotate(200deg);
}

.Character[data-color="yellow"] .Character_sprite {
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(220deg);
}
.Character[data-color="yellow"] .Character_shadow {
  background-color: yellow;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
}

.Character[data-color="green"] .Character_sprite {
  -webkit-transform: scaleX(-1);
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(280deg);
}
.Character[data-color="green"] .Character_shadow {
  background-color: cyan;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
  filter: hue-rotate(280deg);
}

.Character[data-color="purple"] .Character_sprite {
  -webkit-transform: scaleX(-1);
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(80deg);
}
.Character[data-color="purple"] .Character_shadow {
  background-color: rgb(172, 89, 210);
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
}

.Character[data-color="pink"] .Character_sprite {
  -webkit-transform: scaleX(-1);
  margin-left: -5;
  scale: 1.2;
  filter: hue-rotate(120deg);
}
.Character[data-color="pink"] .Character_shadow {
  background-color: cyan;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
  filter: hue-rotate(120deg);
}

.Character[data-color="gray"] .Character_sprite {
  -webkit-transform: scaleX(-1);
  margin-left: -5;
  scale: 1.2;
  filter: grayscale();
}
.Character[data-color="gray"] .Character_shadow {
  background-color: cyan;
  border-radius: 40px;
  scale: 0.2;
  margin-left: -24;
  margin-top: -23;
  filter: grayscale();
}

.Character[data-direction="right"] .Character_sprite {
  -webkit-transform: scaleX(1);
}
.Character[data-direction="left"] .Character_sprite {
  -webkit-transform: scaleX(-1);
}
.Dragon[data-direction="right"] .Character_sprite {
  -webkit-transform: scaleX(-1);
}
.Dragon[data-direction="left"] .Character_sprite {
  -webkit-transform: scaleX(1);
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Dragon_name-container {
  position: absolute;
  top: -40px;
  left: 0px;
  font-size: 10px;
  padding: 2px 5px 2px;
  border-radius: 10px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.game-full-text {
  position: absolute;
  top: 120px;
  left: 140px;
  font-size: 30px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_hp {
  margin-left: 1px;
  color: red;
}
.disabled {
  pointer-events: none;
}
.dice {
  border-radius: 9px;
}
.text-helper {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 20px;
}
