* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #9c271e -50%, #3f2505 70%, #457f76 150%);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  position: relative;
  margin-left: -100;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  /* width: 30vw;
  height: 12vw; */
  background: url(/images/cave.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: auto;
}
.player-name-t {
  color: white;
}
.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.2em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}

input[type="text"] :focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 50 !important;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
/* .Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
} */
.arrow-container {
  width: 100px;
  height: 100px;
  z-index: 20 !important;
}
.Select-arrow {
  display: block;
  transform: scale(4);
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
  z-index: 30 !important;
  opacity: 1;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: wheat;
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="blue"] .Character_sprite {
  background-color: rgb(23, 4, 145);
}
.Character[data-color="red"] .Character_sprite {
  background-color: red;
}
.Character[data-color="orange"] .Character_sprite {
  background-color: rgb(210, 147, 28);
}
.Character[data-color="yellow"] .Character_sprite {
  background-color: rgb(192, 192, 30);
}
.Character[data-color="green"] .Character_sprite {
  background-color: rgb(50, 164, 15);
}
.Character[data-color="purple"] .Character_sprite {
  background-color: rgba(209, 35, 212, 0.562);
}
.Character[data-color="pink"] .Character_sprite {
  background-color: rgb(250, 150, 244);
}
.Character[data-color="gray"] .Character_sprite {
  background-color: rgba(110, 110, 110, 0.562);
}
.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}
.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.game-full-text {
  position: absolute;
  top: 120px;
  left: 140px;
  font-size: 30px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_hp {
  margin-left: 1px;
  color: red;
}
